<div class='plan-selector'>
  <div class='package'>
    <div class='name'>Individual</div>
    <div class='price'>€9.99</div>
    <div class='trial'>Available for 3 months</div>
    <hr>
    <ul>
      <li>
        <span class="material-icons-outlined verification-icon">done</span>
        <strong>8</strong> team members
      </li>
      <li>
        <span class="material-icons-outlined verification-icon">done</span>
        <strong>6</strong> team playlists
      </li>
      <li>
        <span class="material-icons-outlined verification-icon">done</span>
        <strong>Unlimited</strong> public playlists
      </li>
    </ul>
    <button (click)="handleSelection('individual')" class="choose-plan">Choose plan</button>
  </div>
  <div class='package brilliant'>
    <span class="material-icons-outlined brilliant__verification-icon">done</span>
    <div class='name'>Family</div>
    <div class='price'>€14.99</div>
    <div class='trial'>Free 30 day trial</div>
    <hr>
    <ul>
      <li>
        <span class="material-icons-outlined verification-icon">done</span>
        <strong>Unlimited</strong> team members
      </li>
      <li>
        <span class="material-icons-outlined verification-icon">done</span>
        <strong>Unlimited</strong> team playlists
      </li>
      <li>
        <span class="material-icons-outlined verification-icon">done</span>
        <strong>Unlimited</strong> public playlists
      </li>
      <li>
        <span class="material-icons-outlined verification-icon">done</span> Team analytics
      </li>
      <li>
        <span class="material-icons-outlined verification-icon">done</span> Send files
      </li>
    </ul>
    <button (click)="handleSelection('family')" class="choose-plan">Choose plan</button>
  </div>
  <div class='package'>
    <div class='name'>Student</div>
    <div class='price'>€4.99</div>
    <div class='trial'>For 2 years</div>
    <hr>
    <ul>
      <li>
        <span class="material-icons-outlined verification-icon">done</span>
        <strong>5</strong> team members
      </li>
      <li>
        <span class="material-icons-outlined verification-icon">done</span>
        <strong>3</strong> team playlists
      </li>
      <li>
        <span class="material-icons-outlined verification-icon">done</span>
        <strong>Unlimited</strong> public playlists
      </li>
    </ul>
    <button (click)="handleSelection('student')" class="choose-plan">Choose plan</button>
  </div>
</div>
